extends layout

block content
	div.container
		h1 Oops!
		h3 We try our best, but sometimes things go wrong despite our best efforts. In case it isn't obvious by now, something went wrong this time. Sorry, please let us know what you were doing at the time and we'll see if we can stop it happening in future.
		div.center
			img(class='img-rounded', src='/img/500.png')