extends layout

block content
    div.container
      h1= title
      #analytics
          - each analytic in analytics
            div.analytic
              div.name= analytic.contact_requests

      div.container some random text here