extends layout

block content
    div.container
        h1 Contact PhillCo Enterprises
        br
        div.author
        div.email Email:
            a(href="mailto:c_phillips_2000@yahoo.co.uk") c_phillips_2000@yahoo.co.uk
        div.twitter Twitter:
            a(href="https://twitter.com/CarlPhillips007") CarlPhillips007
        div.twitter
            a(href="https://twitter.com/share?text=No%20idea%20where%20I%20am%20staying%20but%20that%20is%20the%20fun%20of%20travel%20roulette!" class="twitter-share-button" data-lang="en") Tweet