extends layout

block content
    div.container
        h1 Contact PhillCo Enterprises
        br
        div.author
        div.email Email:
            a(href="mailto:c_phillips_2000@yahoo.co.uk") c_phillips_2000@yahoo.co.uk
        div.twitter Twitter:
            a(href="https://twitter.com/CarlPhillips007") CarlPhillips007