.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='https://twitter.com/CarlPhillips007') Carl Phillips
			&nbsp;2013
		div.togetherjs
			input(type="button", onclick="TogetherJS(this); return false;", value="Start TogetherJS")

link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')

block footer